.main {
  margin: 10px;
}

.header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.logo-container {
  display: flex;
  align-content: center;
}

.logo img {
  width: 40px;
  height: 40px;
}

.nav-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}

.nav-icons .nav-button {
  width: 35px;
  height: 35px;
  border-radius: 7px;
  border: 2px solid orange;
}

.horizontal-line {
  width: 100%;
  height: 2px;
  background-color: rgba(189, 188, 188, 0.329);
}

.toolbar {
  height: 50px;
  width: 100%;
  padding: 10px 5px 10px 5px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100px;
  border-radius: 7px;
  border: 2px solid orange;
}

.toolbar input[type=text] {
  height: 35px;
  width: 1250px;
  /* float: right; */
  /* padding: 6px; */
  border: solid 2px rgba(189, 188, 188, 0.329);
  border-radius: 5px;
  /* margin-top: 8px;
  margin-right: 16px; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}


.sort-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100px;
  border-radius: 7px;
  border: 2px solid orange;
}

.building {
  height: 600px;
  width: 400px;
  border-radius: 10px;
}

.building {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

#AGSM {
  background-image: url(assets/agsm.webp);
}

.green-dot {
  height: 5px;
  width: 5px;
  background-color: #028a0b;
  border-radius: 50%;
  display: inline-block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #ffffff;
  font-variation-settings:
  "width" 100;
  margin: 0;
}

html {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #ea8100;
  font-weight: 350;
  margin: 0;
  padding: 0;
}

/* .door {
  background-image: url(assets/freeRoomsLogo.png);
} */