.main {
  margin: 10px;
}

* {
  box-sizing: border-box;
}

html, body, main {
  height: 100%;
  width: 100%;
}

.header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.logo-container {
  display: flex;
  align-items: center;
  color: #ea8100;
  font-weight: 600;
  font-size: 28px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.nav-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
}

.nav-icons .nav-button {
  width: 35px;
  height: 35px;
  border-radius: 7px;
  border: 1px solid #ef6c00;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#search {
  background-image: url(assets/orangeSearch.png);
}

#grid {
  background-color: #ef6c00;
  background-image: url(assets/grid.png);
}

#map {
  background-image: url(assets/map.png);
}

#dark-mode {
  background-image: url(assets/moon.png);
}

.horizontal-line {
  width: 100%;
  height: 2px;
  background-color: rgba(189, 188, 188, 0.329);
}

.toolbar {
  height: 50px;
  width: 100%;
  padding: 10px 5px 10px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100px;
  border-radius: 7px;
  border: 2px solid #ef6c00;
  cursor: pointer;
}

.toolbar input[type=text] {
  height: 35px;
  width: 750px;
  padding: 5px;
  border: solid 2px rgba(189, 188, 188, 0.329);
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}


.sort-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100px;
  border-radius: 7px;
  border: 2px solid #ef6c00;
  cursor: pointer;
}

.building {
  display: flex;
  align-items: flex-end;
  position: relative;
  height: 350px;
  width: 320px;
  padding: 10px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.rooms-available {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 35px;
  width: 155px;
  padding: 5px;
  border-radius: 15px;
  background-color: white;
  font-size: 14px;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.building-name {
  display: flex;
  align-items: center;
  height: 55px;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(255, 115, 0);
  font-size: 14px;
  color: white;
}

#AGSM {
  background-image: url(assets/agsm.webp);
}

.green-dot {
  height: 10px;
  width: 10px;
  background-color: #028a0b;
  border-radius: 50%;
  display: inline-block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #ffffff;
  font-variation-settings:
  "width" 100;
  margin: 0;
}

html {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #ea8100;
  font-weight: 350;
  margin: 0;
  padding: 0;
}